doctype html
html
  head
    title Features - Fictitious Product
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Product Features
    ul
      li Feature 1
      li Feature 2
      li Feature 3
  div
    a(href='/order') Order Now