doctype html
html
  head
    title Fictitious Product
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Fictitious Product
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/features') Features
          li
            a(href='/order') Order
    main
      block content
    footer
      p Copyright © 2023 Fictitious Product. All rights reserved.