doctype html
html
  head
    title Fictitious Product
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Welcome to Our Fictitious Product
    p Introducing the amazing features of our product.
    div
      a(href='/features') Learn More
      a(href='/order') Order Now
      a(href='/signup') Sign Up
      a(href='/edit') Edit Profile
      a(href='/login') Login